{% extends "app/layout.html" %}

{% block content %}

<h2 style="color: white;">{{ title }}.</h2>
<h3 style="color: white;">{{ message }}</h3>

<p style="color: white;">Совершенствуйтесь в шахматах благодаря интерактивным урокам 
    сильнейших мастеров и тренеров. Трейнируйтесь, изучайте дебюты и другие аспекты игры на нашем сайте.
    Мы создали платформу, которая поможет вам разобраться в основах игры, потренироваться с компьютером и реальными
    противникам и пообщаться на интересующие вас темы!
</p>

{% endblock %}
